.image-border {
    -fx-border-color: rgb(210, 210, 210) ;
    -fx-border-width: 10;
    -fx-background-color: transparent;
}

.lumSlider .track{
    -fx-background-color: rgb(1, 191, 200);
}

.lumSlider .thumb{
    -fx-background-color: fc6c00;
}

.songSlider .track{
    -fx-background-color: fc6c00;
}

.songSlider .thumb{
    -fx-background-color: rgb(1, 191, 200);
}

.blue-button {
    -fx-background-color: rgb(1, 191, 200);
}

.blue-button:hover {
    -fx-background-color: rgb(0, 150, 160);
}

.orange-button{
    -fx-background-color: fc6c00;
}

.orange-button:hover {
    -fx-background-color: e54a00;
}

.orange-radio {
    -fx-mark-color:fc6c00;
}

.blue-radio {
    -fx-mark-color:rgb(1, 191, 200);
}